# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*~

# Mac related
.DS_Store

# Emacs temp files
[#]*[#]
.\#*

# Database backups data
*.sql.custom

node_modules
webpack-stats.json
npm-debug.log
yarn-error.log
.ipynb_checkpoints/
